body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    line-height: 150%;
    counter-reset: h2;
    background-image: linear-gradient( rgb(211, 150, 17), rgb(255,204,0));
    }

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.6em 0;
}

h1{
    font-size: 80px;
    text-transform: uppercase;
}

h2 {
    font-size: 50pt;
    counter-reset: h3;
    text-align: center;
    color: rgb(255,204,0);
    background-color: rgb(48, 48, 48);
    border-block-start: 50%;
    border-radius: 60px;
}

h2::before {
    content: counter(h2, upper-roman)'. ';
    counter-increment: h2;
}

h3 {
    font-size: 20pt;
    text-align: center;
}

h3::before {
    content: counter(h2, upper-roman)'.' counter(h3, upper-roman) '.';
    counter-increment: h3;
}
h4 {
    font-size: 25pt;
    text-align: center;
    color: rgb(255,204,0);
    background-color: rgb(48, 48, 48);
    max-width: 450px;
}
h5 {
    font-size: 25pt;
    text-align: left;
    color: black;
    font-weight: bold;
    padding-left: 20px;
        padding-top: 20px;
}

p {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;

    text-align: justify;
    font-size: 23px;
    /*background-color: rgb(73, 73, 73);*/
    color: black;
}
.p {
    text-align: center;
    font-size: 27px;
    margin: 1em;
}
ul {
    color: black;
    font-size: 25px;
    padding-left: 70px;
    list-style-type: circle;
    list-style-position: inside;
}

/* Layout - rozložení stránky*/
.container {
    max-width: 1400px;
    margin: auto;
    background-color: rgb(173, 173, 173);
}

header {
    color: rgb(255, 204, 0);
    background-color:  rgb(48, 48, 48);
    text-align: center;
}

footer {
    background-color:  rgb(48, 48, 48);
    color: white;
    padding-top: 2em;
    text-align: center;
}
ul.no {
    list-style-type: none;
    background-color: rgb(48, 48, 48);
    font-size: 22px;
    font-weight: bold;
}   

/*Navigace*/
.navbar {background-color: rgb(48, 48, 48);}


/*Zobrazení pro mobily*/
@media only screen and (max-width: 425px) {
    h1{font-size: 34px}
    h2{font-size: 28px}
    h4{font-size: 20px}
    p{font-size: 22px}
    ul li{font-size: 13px;}
    .img1 {transform: translate(45%, 0%)}
    .img2 {transform: translate(60%, 0%)}
    .img3 {transform: translate(60%, 0%)}
    .img4 {transform: translate(60%, 0%)}
    .img5 {transform: translate(60%, 0%)}
    .img6 {transform: translate(60%, 0%)}
    .img7 {transform: translate(60%, 0%)}
    .img8 {transform: translate(60%, 0%)}
    .img9 {transform: translate(60%, 0%)}
    .img10 {transform: translate(60%, 0%)}
    .img11 {transform: translate(60%, 0%)}
    .img12 {transform: translate(60%, 0%)}
    .img13 {transform: translate(60%, 0%)}
    .img14 {transform: translate(60%, 0%)}
    .img15 {transform: translate(60%, 0%)}
    .img16 { 
        background-image:  url("img/assassins.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img17 { 
        background-image:  url("img/Okrsek_13.png");
        background-position: top;
        width: 100px;
        height: 320px;
        background-size: 100% 100%;}
    .img18 { 
        background-image:  url("img/ani_ve_snu.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img19 { 
        background-image:  url("img/KnihaDavidBelle.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img20 { 
        background-image:  url("img/Tary,pribehParkouristy.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img21 { 
        background-image:  url("img/SahirKniha.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img22 { 
        background-image:  url("img/david-belle.jpg");
        width: 180px;
        height: 300px;
        background-size: 100% 100%;}
    .img23 { 
        background-image:  url("img/georgesHebert.jpg");
        float: left;
        margin: 0 1.5em;
        width: 150px;
        height: 300px;
        background-size: 100% 100%;}
        .img24 { 
            background-image:  url("img/naturalMethod.jpg");
             width: 100%;
             height: 500px;
             background-size: 100% 100%;}
    .img25 { 
        background-image:  url("img/raymondBelle.png");
        margin-left: 1em;
        width: 150px;
        height: 300px;
        background-size: 100% 100%;}
        .img26 { 
            background-image:  url("img/art-of-motion.jpg");
            margin: 1em 0;
            width: 100%;
            height: 600px;
            background-size: 100% 100%;}
    
}
  

@media only screen and (min-width: 425px){
    h1{font-size: 34px}
    h2{font-size: 28px}
    h4{font-size: 20px}
    p{font-size: 22px}
    ul li{font-size: 13px;}
    .img1 {transform: translate(45%, 0%)}
    .img2 {transform: translate(60%, 0%)}
    .img3 {transform: translate(60%, 0%)}
    .img4 {transform: translate(60%, 0%)}
    .img5 {transform: translate(60%, 0%)}
    .img6 {transform: translate(60%, 0%)}
    .img7 {transform: translate(60%, 0%)}
    .img8 {transform: translate(60%, 0%)}
    .img9 {transform: translate(60%, 0%)}
    .img10 {transform: translate(60%, 0%)}
    .img11 {transform: translate(60%, 0%)}
    .img12 {transform: translate(60%, 0%)}
    .img13 {transform: translate(60%, 0%)}
    .img14 {transform: translate(60%, 0%)}
    .img15 {transform: translate(60%, 0%)}
    .img16 { 
        background-image:  url("img/assassins.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img17 { 
        background-image:  url("img/Okrsek_13.png");
        background-position: top;
        width: 100px;
        height: 320px;
        background-size: 100% 100%;}
    .img18 { 
        background-image:  url("img/ani_ve_snu.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img19 { 
        background-image:  url("img/KnihaDavidBelle.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img20 { 
        background-image:  url("img/Tary,pribehParkouristy.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img21 { 
        background-image:  url("img/SahirKniha.jpg");
        background-position: top;
        width: 100px;
        height: 300px;
        background-size: 100% 100%;}
    .img22 { 
        background-image:  url("img/david-belle.jpg");
        width: 180px;
        height: 300px;
        background-size: 100% 100%;}
    .img23 { 
        background-image:  url("img/georgesHebert.jpg");
        float: left;
        margin: 0 1.5em;
        width: 150px;
        height: 300px;
        background-size: 100% 100%;}
        .img24 { 
            background-image:  url("img/naturalMethod.jpg");
             width: 100%;
             height: 500px;
             background-size: 100% 100%;}
    .img25 { 
        background-image:  url("img/raymondBelle.png");
        margin-left: 1em;
        width: 150px;
        height: 300px;
        background-size: 100% 100%;}
        .img26 { 
            background-image:  url("img/art-of-motion.jpg");
            margin: 1em 0;
            width: 100%;
            height: 600px;
            background-size: 100% 100%;}
}

@media only screen and (min-width: 769px){
    .navbar ul.no {display: flex;}
    .navbar ul.no li a {
        display: block;
        padding: 0.1em;
        text-decoration: none;
      }
    ul li{font-size: 25px}
    h1{font-size: 60px}
    h2{font-size: 30pt}
    h4{font-size: 28pt}
    .img1 {transform: translate(0%, 0%)}
    .img2 {transform: translate(0%, 0%)}
    .img3 {transform: translate(0%, 0%)}
    .img4 {transform: translate(0%, 0%)}
    .img5 {transform: translate(0%, 0%)}
    .img6 {transform: translate(0%, 0%)}
    .img7 {transform: translate(0%, 0%)}
    .img8 {transform: translate(0%, 0%)}
    .img9 {transform: translate(0%, 0%)}
    .img10 {transform: translate(0%, 0%)}
    .img11 {transform: translate(0%, 0%)}
    .img12 {transform: translate(0%, 0%)}
    .img13 {transform: translate(0%, 0%)}
    .img14 {transform: translate(0%, 0%)}
    .img15 {transform: translate(0%, 0%)}
    .img16 { 
        background-image:  url("img/assassins.jpg");
        background-position: top;
        width: 70%;
        height: 300px;
        background-size: 100% 100%;}
    .img17 { 
        background-image:  url("img/Okrsek_13.png");
        background-position: top;
        width: 58%;
        height: 320px;
        background-size: 100% 100%;}
    .img18 { 
        background-image:  url("img/ani_ve_snu.jpg");
        background-position: top;
        width: 55%;
        height: 300px;
        background-size: 100% 100%;}
    .img19 { 
        background-image:  url("img/KnihaDavidBelle.jpg");
        background-position: top;
        width: 55%;
        height: 300px;
        background-size: 100% 100%;}
    .img20 { 
        background-image:  url("img/Tary,pribehParkouristy.jpg");
        background-position: top;
        width: 55%;
        height: 300px;
        background-size: 100% 100%;}
    .img21 { 
        background-image:  url("img/SahirKniha.jpg");
        background-position: top;
        width: 55%;
        height: 300px;
        background-size: 100% 100%;}
    .img22 { 
        background-image:  url("img/david-belle.jpg");
        width: 350px;
        height: 400px;
        background-size: 100% 100%;}
    .img23 { 
        background-image:  url("img/georgesHebert.jpg");
        float: left;
        margin: 0 1.5em;
        width: 250px;
        height: 330px;
        background-size: 100% 100%;}
        .img24 { 
            background-image:  url("img/naturalMethod.jpg");
             width: 100%;
             height: 800px;
             background-size: 100% 100%;}
    .img25 { 
        background-image:  url("img/raymondBelle.png");
        margin-left: 1em;
        width: 350px;
        height: 400px;
        background-size: 100% 100%;}
        .img26 { 
            background-image:  url("img/art-of-motion.jpg");
            margin: 1em 0;
            width: 100%;
            height: 800px;
            background-size: 100% 100%;}
    
}
  .navbar ul.no li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255,204,0);
  }

  .navbar ul.no li a:hover {
    color: rgb(73,73,73);
    background-color: rgb(211, 150, 17);
  }

  .navbar .dropdown {
      color: rgb(255,204,0);
      position: absolute;
      right: 10px;
      top: 7px;
  }
  .secret {font-size: 1px;}
  .secret0 {font-size: 1px;padding-bottom: 16%;}

.img1 { 
    background-image:  url("img/in_motion.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
    
.img2 { 
    background-image:  url("img/UrbanSense.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}

.img3 { 
    background-image:  url("img/FreerunPrajzska.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}

.img4 { 
    background-image:  url("img/TeamFreemove.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}

.img5 { 
    background-image:  url("img/UrbanMotion.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}

.img6 { 
    background-image:  url("img/Farang.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img7 { 
    background-image:  url("img/Tempest.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img8 { 
    background-image:  url("img/Storror.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img9 { 
    background-image:  url("img/FrenchFreerunFamily.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img10 { 
    background-image:  url("img/GUP.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img11 { 
    background-image:  url("img/3Run.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img12 { 
    background-image:  url("img/jiyo.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img13 { 
    background-image:  url("img/Storm.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img14 { 
    background-image:  url("img/Ashigaru.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}
.img15 { 
    background-image:  url("img/generations.png");
    background-position: top;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;}


.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, 
.img6:hover, .img7:hover, .img8:hover, .img9:hover, .img10:hover, 
.img11:hover, .img12:hover, .img13:hover, .img14:hover, .img15:hover, 
.img16:hover, .img17:hover, .img18:hover, .img19:hover, .img20:hover, 
.img21:hover {
    -ms-transform: translate(50px, 100px); /* IE 9 */
    -webkit-transform: translate(50px, 100px); /* Safari */
    transform: translate(0, -12px);
    text-shadow: 7px 7px 50px grey;
}
    a:link {
        text-decoration: underline;
        font-size: 20px;
}
    a:visited {color: black;}
      
    a:hover {
        text-decoration: underline;
        color: white;
    }

    .hranice {
        border-block-start: 50%;
        border-radius: 60px;
        background-color: rgb(48, 48, 48);
    }  

/*sloupce*/
[class*="col-"] {
    float: left;
    padding: 15px;
    box-sizing: border-box;
  }
  
    .col-6 {width: 50%;} 
    .col-3 {width: 33%;}

    blockquote { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 1em;
        text-align: center;
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
  }
/*tabulka*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
  }
